<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Chi-En Wu">
    <meta name="description" content="Basic skeleton for flask applications.">
    <meta name="keywords" content="flask, skeleton">
    <title>{% if page_title %}{{ page_title }} | {% endif %}Skeleton</title>
    {% assets "styles" %}
      <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}
    <!--[if lt IE 9]>
      <script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    {% block content %}{% endblock %}
    {% assets "scripts" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
  </body>
</html>
